/**
 * Public-facing styles - Minimalist
 */

.maljani-public {
    color: #222;
}

.maljani-public a {
    color: #1e5c3a;
    text-decoration: underline;
}

.maljani-public a:hover {
    text-decoration: none;
}